extends ../layouts/default

block content

  .row
    .centered.columns.twelve
      ul.character-list
        li
          object(
            type="image/svg+xml"
            data="/target/svg/jia-li.min.svg"
          )
        li
          object(
            type="image/svg+xml"
            data="/target/svg/xue-hui.min.svg"
          )
        li
          object(
            type="image/svg+xml"
            data="/target/svg/tong-gong.min.svg"
          )
        li
          object(
            type="image/svg+xml"
            data="/target/svg/zhao-wo.min.svg"
          )
        li
          object(
            type="image/svg+xml"
            data="/target/svg/bo-ke.min.svg"
          )
        li
          object(
            type="image/svg+xml"
            data="/target/svg/yu-le.min.svg"
          )
        li
          object(
            type="image/svg+xml"
            data="/target/svg/shui-lei.min.svg"
          )
        li
          object(
            type="image/svg+xml"
            data="/target/svg/zhuan-ji.svg"
          )

  .row
    .centered.columns.four
      object(
        type="image/svg+xml"
        data="/target/svg/gaoyuchen.min.svg"
      )
