extends ../layouts/default

mixin post(post)
  article.post
    h4.post__title #{post.title}
    .post__metadata
      span.post__pubdate #{moment(post.publishedDate).format('dddMMMDDYY')}
      if post.categories.length
        &nbsp;-&nbsp;
        ul.taglist
          each tag, index in post.categories
            if index == post.categories.length - 1
              li.tag #{tag.name}
            else
              li.tag #{tag.name},&nbsp;
    .post__content
      !{post.content.brief}

block content
  section.division
    .row
      .column.medium-7
        h3 <a href="/">Stephen</a>'s gone.  Left. Disappeared.  Vanished.
        p.
          I'm not sure where he is.  Or if he's even alive at this point.
          He could be lying in pieces, getting scraped off the subway tracks for all I know.
          Or he could be in the Bahamas, laughing his ass off at me for thinking this.
        p.
          Either way, all his stuff is still here.  Considering the nearly opaque layers of dust, it doesn't look like it's been touched in a while.
          Feel free to look around.
        p.
          I have to warn you, though.  This place is a little odd.  Things change.  Things *shift*.
          Thoughts of grotesquerie drift in and out of your head.
        p Ahh, never mind.  I probably sound crazy.  Or am.  Or sound.  Just be careful.

      .column.medium-7.u-text--center
        // img(src="http://placehold.it/300x300")
        .photo(style="background-image: url('https://scontent-lga1-1.cdninstagram.com/hphotos-xaf1/t51.2885-15/11374489_1646243385609671_493220254_n.jpg')")

  section.division
    .row
      .column.medium-7.u-text--center
        // img(src="http://placehold.it/300x300")
        .photo.corrupted(style="background-image: url('https://scontent-lga1-1.cdninstagram.com/hphotos-xaf1/t51.2885-15/11374489_1646243385609671_493220254_n.jpg')")
      .column.medium-7
        h3 He left some <a href="/blog">notes</a>—maybe you can make better sense of them.

        each post in data.posts
          +post(post)