include ../mixins/flash-messages

doctype html
html

  //- HTML HEADER
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="ROBOTS", content="INDEX, FOLLOW")

    link(rel="canonical", href="http://stephenkao.com")
    meta(property="og:title", content="Stephen Kao")
    meta(property="og:type", content="blog")
    meta(name="twitter:card", content="summary_large_image")
    meta(name="twitter:site", content="@_stephenkao")
    meta(name="twitter:title", content="Stephen Kao")
    meta(name="twitter:description", content="La la la")
    meta(property="og:description", content="How About You Get The Hell Out of Here?")
    meta(name="description", content="La la la")
    meta(property="og:locale", content="en_US")
    meta(property="og:site_name", content="Stephen Kao")
    title= title || 'Stephen Kao'

    link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")

    link(href="/target/css/style.css", rel="stylesheet")

    if user && user.canAccessKeystone
      link(href="/keystone/styles/content/editor.min.css", rel="stylesheet")

    //- Include template-specific stylesheets by extending the css block
    block css

    //- Add any other template-specific HEAD tags by extending the head block
    block head

  //- HTML BODY
  body(class="corruption-#{corruption}")
    //- header.header.division
    //-   .row
    //-     .column.medium-2.centered
    //-       .inventory-trigger.js_inventory-trigger
    //-         .ring.ring--outer
    //-         .ring.ring--middle
    //-         .ring.ring--inner

   section.division.push-top
     .row
       .column.medium-7.medium-push-1
         .main.js_main(class="#{section}")
           if corruption == 4
             h1.u-text--center ourlordandsaviorphngluimglwnafhcthulhurlyehwgahnaglfhtagnourlordandsaviorphngluimglwnafhcthulhurlyehwgahnaglfhtagnourlordandsaviorphngluimglwnafhcthulhurlyehwgahnaglfhtagnourlordandsaviorphngluimglwnafhcthulhurlyehwgahnaglfhtagnourlordandsaviorphngluimglwnafhcthulhurlyehwgahnaglfhtagnourlordandsaviorphngluimglwnafhcthulhurlyehwgahnaglfhtagnourlordandsaviorphngluimglwnafhcthulhurlyehwgahnaglfhtagnourlordandsaviorphngluimglwnafhcthulhurlyehwgahnaglfhtagnourlordandsaviorphngluimglwnafhcthulhurlyehwgahnaglfhtagnourlordandsaviorphngluimglwnafhcthulhurlyehwgahnaglfhtagnourlordandsaviorphngluimglwnafhcthulhurlyehwgahnaglfhtagnourlordandsaviorphngluimglwnafhcthulhurlyehwgahnaglfhtagnourlordandsaviorphngluimglwnafhcthulhurlyehwgahnaglfhtagnourlordandsaviorphngluimglwnafhcthulhurlyehwgahnaglfhtagn
             h1.u-text--center ourlordandsaviorphngluimglwnafhcthulhurlyehwgahnaglfhtagnourlordandsaviorphngluimglwnafhcthulhurlyehwgahnaglfhtagnourlordandsaviorphngluimglwnafhcthulhurlyehwgahnaglfhtagnourlordandsaviorphngluimglwnafhcthulhurlyehwgahnaglfhtagnourlordandsaviorphngluimglwnafhcthulhurlyehwgahnaglfhtagnourlordandsaviorphngluimglwnafhcthulhurlyehwgahnaglfhtagnourlordandsaviorphngluimglwnafhcthulhurlyehwgahnaglfhtagnourlordandsaviorphngluimglwnafhcthulhurlyehwgahnaglfhtagnourlordandsaviorphngluimglwnafhcthulhurlyehwgahnaglfhtagnourlordandsaviorphngluimglwnafhcthulhurlyehwgahnaglfhtagnourlordandsaviorphngluimglwnafhcthulhurlyehwgahnaglfhtagnourlordandsaviorphngluimglwnafhcthulhurlyehwgahnaglfhtagnourlordandsaviorphngluimglwnafhcthulhurlyehwgahnaglfhtagnourlordandsaviorphngluimglwnafhcthulhurlyehwgahnaglfhtagn
             h1.u-text--center ourlordandsaviorphngluimglwnafhcthulhurlyehwgahnaglfhtagnourlordandsaviorphngluimglwnafhcthulhurlyehwgahnaglfhtagnourlordandsaviorphngluimglwnafhcthulhurlyehwgahnaglfhtagnourlordandsaviorphngluimglwnafhcthulhurlyehwgahnaglfhtagnourlordandsaviorphngluimglwnafhcthulhurlyehwgahnaglfhtagnourlordandsaviorphngluimglwnafhcthulhurlyehwgahnaglfhtagnourlordandsaviorphngluimglwnafhcthulhurlyehwgahnaglfhtagnourlordandsaviorphngluimglwnafhcthulhurlyehwgahnaglfhtagnourlordandsaviorphngluimglwnafhcthulhurlyehwgahnaglfhtagnourlordandsaviorphngluimglwnafhcthulhurlyehwgahnaglfhtagnourlordandsaviorphngluimglwnafhcthulhurlyehwgahnaglfhtagnourlordandsaviorphngluimglwnafhcthulhurlyehwgahnaglfhtagnourlordandsaviorphngluimglwnafhcthulhurlyehwgahnaglfhtagnourlordandsaviorphngluimglwnafhcthulhurlyehwgahnaglfhtagn
             h1.u-text--center ourlordandsaviorphngluimglwnafhcthulhurlyehwgahnaglfhtagnourlordandsaviorphngluimglwnafhcthulhurlyehwgahnaglfhtagnourlordandsaviorphngluimglwnafhcthulhurlyehwgahnaglfhtagnourlordandsaviorphngluimglwnafhcthulhurlyehwgahnaglfhtagnourlordandsaviorphngluimglwnafhcthulhurlyehwgahnaglfhtagnourlordandsaviorphngluimglwnafhcthulhurlyehwgahnaglfhtagnourlordandsaviorphngluimglwnafhcthulhurlyehwgahnaglfhtagnourlordandsaviorphngluimglwnafhcthulhurlyehwgahnaglfhtagnourlordandsaviorphngluimglwnafhcthulhurlyehwgahnaglfhtagnourlordandsaviorphngluimglwnafhcthulhurlyehwgahnaglfhtagnourlordandsaviorphngluimglwnafhcthulhurlyehwgahnaglfhtagnourlordandsaviorphngluimglwnafhcthulhurlyehwgahnaglfhtagnourlordandsaviorphngluimglwnafhcthulhurlyehwgahnaglfhtagnourlordandsaviorphngluimglwnafhcthulhurlyehwgahnaglfhtagn
             h1.u-text--center ourlordandsaviorphngluimglwnafhcthulhurlyehwgahnaglfhtagnourlordandsaviorphngluimglwnafhcthulhurlyehwgahnaglfhtagnourlordandsaviorphngluimglwnafhcthulhurlyehwgahnaglfhtagnourlordandsaviorphngluimglwnafhcthulhurlyehwgahnaglfhtagnourlordandsaviorphngluimglwnafhcthulhurlyehwgahnaglfhtagnourlordandsaviorphngluimglwnafhcthulhurlyehwgahnaglfhtagnourlordandsaviorphngluimglwnafhcthulhurlyehwgahnaglfhtagnourlordandsaviorphngluimglwnafhcthulhurlyehwgahnaglfhtagnourlordandsaviorphngluimglwnafhcthulhurlyehwgahnaglfhtagnourlordandsaviorphngluimglwnafhcthulhurlyehwgahnaglfhtagnourlordandsaviorphngluimglwnafhcthulhurlyehwgahnaglfhtagnourlordandsaviorphngluimglwnafhcthulhurlyehwgahnaglfhtagnourlordandsaviorphngluimglwnafhcthulhurlyehwgahnaglfhtagnourlordandsaviorphngluimglwnafhcthulhurlyehwgahnaglfhtagn
             h1.u-text--center ourlordandsaviorphngluimglwnafhcthulhurlyehwgahnaglfhtagnourlordandsaviorphngluimglwnafhcthulhurlyehwgahnaglfhtagnourlordandsaviorphngluimglwnafhcthulhurlyehwgahnaglfhtagnourlordandsaviorphngluimglwnafhcthulhurlyehwgahnaglfhtagnourlordandsaviorphngluimglwnafhcthulhurlyehwgahnaglfhtagnourlordandsaviorphngluimglwnafhcthulhurlyehwgahnaglfhtagnourlordandsaviorphngluimglwnafhcthulhurlyehwgahnaglfhtagnourlordandsaviorphngluimglwnafhcthulhurlyehwgahnaglfhtagnourlordandsaviorphngluimglwnafhcthulhurlyehwgahnaglfhtagnourlordandsaviorphngluimglwnafhcthulhurlyehwgahnaglfhtagnourlordandsaviorphngluimglwnafhcthulhurlyehwgahnaglfhtagnourlordandsaviorphngluimglwnafhcthulhurlyehwgahnaglfhtagnourlordandsaviorphngluimglwnafhcthulhurlyehwgahnaglfhtagnourlordandsaviorphngluimglwnafhcthulhurlyehwgahnaglfhtagn
           else
             block content
       .column.medium-5.medium-pull-1.clock
         .clock__division.u-text--right
           case corruption
             when 1
               p.clock__message.
                 You've come again.<br />
                 <a href="/">Stephen</a>'s gone. <br />
                 Still.
             when 2
               p.clock__message.
                 Have you found anything?<br />
                 <a href="/">Stephen</a>'s gone. <br />
                 You're starting testing my patience.
             when 3
               p.clock__message.
                 Get out.<br />
                 <a href="/">Stephen</a>'s gone. <br />
                 But I'm here.
             when 4
               p.clock__message.
                 You've been here too long.<br />
                 's gone. <br />
                 It didn't hurt.
             default
               block clock-message
                 p.clock__message.
                   I don't know if we should be here. <br />
                   <a href="/">Stephen</a>'s gone. <br />
                   I don't know where.
         .clock__division
           if corruption == 4
             time.clock__time #{moment('02/24/1989').format('MMMDD/YY')} - #{moment(new Date()).format('MMMDD/YY')}
             time.clock__time.js_clock__digits ĮばËそoい丫
           else
             time.clock__time #{moment(new Date()).format('MMMDD/YY')}
             time.clock__time.js_clock__digits 09:45:31

   footer.inventory.js_inventory
     hr
     .row
       .column.small-14
         h2 Inventory

    script(src="target/javascript/index.js")

block js
